:root{ 
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
--shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
}
.sections{
  display: flex;
  width: 620px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}
.post-image{
  width: 310px;
}
.image-product{
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.post-description{
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  padding: 30px;
  border-radius: 0px 10px 50px 0px;
  box-sizing: border-box;
}
.post-description .title-product{
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 700;
  color: hsla(228, 12%, 48%, 80%);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  height: 6px;
}
.post-description .name-product{
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 30px;
  color: var(--Very-dark-blue);
  flex-basis: 200px;
  height: 80px;
}
.post-description .description-product{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
  font-size: 15px;
  line-height: 25px;
  flex-basis: 240px;
  height: 70px;
}
.values{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.values .price{
  display: inline-block;
  font-family: 'Fraunces', serif;
  font-size: 33px;
  color: var(--Dark-cyan);
  margin-right: 20px;
}
.values .old-price{
 display: inline-block;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 color: hsla(228, 12%, 48%, 80%);
 text-decoration: line-through;
 font-size: 13px;
}
.cart{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  border: none;
  background-color: var(--Dark-cyan);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.cart:hover{
  background-color: hsl(157, 29%, 23%);
}
.cart .text{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: var(--White);
  margin-left: 15px;
}

.attribution {
    position: relative;
    bottom: 20px;
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:746px){
  .container{
    justify-content: flex-start;
    flex-direction: column;
  }
  .sections{
    flex-direction: column;
    margin-top: 30px;
    width: 370px;
  }
  .post-image{
    width: 370px;
  }
  #main-image {
    content: url(/src/images/image-product-mobile.jpg);
    border-radius: 10px 10px 0px 0px;
  } 
  .post-description{
    flex-direction: column;
    width: 350px;
    padding-bottom: 25px;
  }
  .post-description .title-product{
    height: 30px;
  }
  .post-description .name-product{
    flex-basis: 75px;
  }
  .post-description .description-product{
    flex-basis: 115px;
    width: 315px;
  }
  .cart{
    flex-basis: 50px
  }
}
@media (max-width:375px){
  .attribution {
    position: relative;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
  }
}
/* 
FONT FRAUNCES
font-family: 'Fraunces', serif;

FONT RESERVA
font-family: 'Hanken Grotesk', sans-serif;

FONT MONTSERRAT
font-family: 'Montserrat', sans-serif;
*/
